form{
  background-color: $form-bg-color !important;
  margin: 5%;
}
.form-control{
  width: 50% !important;
}
.form-group{
  padding: 10px;
}
.btn-block{
  width: 50% !important;
}
.alert{
  padding: 2px !important;
  margin-bottom: 0px !important;
}
